<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-title *ngIf="!isLoading">
    Update department
  </mat-card-title>

  <mat-card-content *ngIf="!isLoading">
    <form class="example-form" (submit)="onUpdate()" ngForm [formGroup]="deptUpdateForm">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Department name</mat-label>
        <input matInput type="text" formControlName="departmentname1" readonly>
        <mat-error *ngIf="deptUpdateForm.controls.departmentname1.invalid">Please enter a valid department name.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Already created departments</mat-label>
        <mat-select formControlName="departmentname3">
          <mat-option>{{ departmentname }}</mat-option>
          <mat-option *ngFor="let item of departmentList" [value]="item.department_name">
            {{ item.department_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New department name</mat-label>
        <input matInput type="text" formControlName="departmentname2" required>
        <mat-error *ngIf="deptUpdateForm.controls.departmentname2.invalid">Please enter a valid department name.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Update</button>
      <button mat-raised-button color="primary" type="button" (click)="onClickBack()">Back</button>
      <button mat-raised-button color="primary" type="button" (click)="onClickHome()">Home</button>
    </form>
  </mat-card-content>

</mat-card>
