<mat-card class="main" *ngIf="!showDelete">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-title class="header">
    Welcome {{ fullname | titlecase }}
  </mat-card-title>

  <mat-card-content class="main-content">

    <mat-card class="sub-card">
      <mat-card-title class="sub-title">
        Employee/Admin
      </mat-card-title>

      <mat-card-content class="sub-content">
        <a mat-raised-button routerLink="register" class="clr">Create User</a>
        <a mat-raised-button routerLink="empList" class="clr">Update Employee</a>
        <a mat-raised-button routerLink="empList" class="clr">Employee List</a>
        <a mat-raised-button color="warn" routerLink="empList">Delete Employee</a>
      </mat-card-content>
    </mat-card>

    <mat-card class="sub-card center-card">
      <mat-card-title class="sub-title">
        Department
      </mat-card-title>

      <mat-card-content class="sub-content">
        <a mat-raised-button routerLink="createDept" class="clr">Create Department</a>
        <a mat-raised-button routerLink="deptList" class="clr">Update Department</a>
        <a mat-raised-button routerLink="deptList" class="clr">Department List</a>
        <a mat-raised-button color="warn" routerLink="deptList">Delete Department</a>
      </mat-card-content>
    </mat-card>

    <mat-card class="sub-card">
      <mat-card-title class="sub-title">
        Operations
      </mat-card-title>

      <mat-card-content class="sub-content">
        <a mat-raised-button routerLink="details" class="clr">Details</a>
        <a mat-raised-button routerLink="update" class="clr">Update</a>
        <button mat-raised-button class="clr" (click)="onClickLogout()">Logout</button>
        <button mat-raised-button color="warn" (click)="onClickShowDelete()">Delete</button>
      </mat-card-content>
    </mat-card>
  </mat-card-content>

</mat-card>

<mat-card *ngIf="showDelete" class="delete-card">
  <mat-card-title class="sub-title">
    Do you want to delete your account ?
  </mat-card-title>
  <mat-card-content class="sub-content">
    <button mat-raised-button color="warn" class="btn" (click)="onClickDelete()">Yes</button>
    <button mat-raised-button color="primary" class="btn" (click)="onClickHide()">No</button>
  </mat-card-content>
</mat-card>
