.main {
  width:fit-content;
  margin: 3rem auto;
  padding-bottom: 2rem;
  background-color: #f9f3eb;
}

.main-content {
  display: flex;
  margin-top: 3rem;
}

.sub-card {
  width: 15rem;
}

.center-card {
  margin: 0 1rem;
}

.sub-title {
  font-size: 16px;
}

.sub-content {
  margin-top: 1.3rem;
}

.sub-content a,
.sub-content button {
  width: 100%;
  margin: 0.4rem 0;
}

.sub-content .clr {
  background-color: #e4f5fc;
}

mat-card-title {
  text-align: center;
  color: rgba(0, 0, 0, .54);
}

.header {
  color: rgba(0, 0, 0, 0.7);
}

mat-spinner {
  margin: auto;
}

.delete-card {
 width:fit-content;
 margin: 3rem auto;
 background-color: #f6dde1;
 padding: 2rem;
}

.delete-card .sub-content {
  display: flex;
}

.delete-card .sub-content .btn {
  margin-top: 0;
  margin-right: 1rem;
}
