.main {
  width: fit-content;
  margin: 3rem auto;
   padding: 2rem;
}

.main-content div {
  margin-top: 0.7rem;
  width: 15rem;
  margin-left: 1rem;
}

.main-content div.btn {
  margin-top: 2rem;
}

mat-card-title {
  text-align: center;
  text-decoration: underline;
  color: rgba(0, 0, 0, .64);
}

img {
  width: 15rem;
  height: 15rem;
  margin: 0.7rem 0;
}

mat-spinner {
  margin: auto;
}
