table {
  width: 60%;
  margin: auto;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns a,
.btns button {
  margin-right: 1rem;
}

h3 {
  text-align: center;
  color: rgba(0, 0, 0, .54);
}

.delete-card {
  width: fit-content;
  margin: 3rem auto;
  background-color: #f6dde1;
  padding: 2rem;
}

.delete-card .sub-content {
  display: flex;
}

.delete-card .sub-content .btn {
  margin-top: 1rem;
  margin-right: 1rem;
}

mat-spinner {
  margin: auto;
}

.main {
  width: 49.5%;
  text-align: center;
  margin: auto;
  padding: 1.5rem 5rem;
}

mat-card-title {
  text-align: center;
  color: rgba(0, 0, 0, .64);
}

div {
  margin: 3rem 0;
}
