<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!showDelete && !isLoading">
  <h3>Reviews got</h3>

  <table mat-table [dataSource]="reviewsGotArr" class="mat-elevation-z8" *ngIf="showReviewGot">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> <b>No.</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.no }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> <b>Username</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> <b>Score</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.score }}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> <b>Comment</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="reviewGotColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: reviewGotColumns;"></tr>
  </table>

  <mat-card class="main" *ngIf="!showReviewGot">
    No one has reviewed you yet !
  </mat-card>
</div>

<div *ngIf="!showDelete && !isLoading">
  <h3>Reviews given</h3>

  <table mat-table [dataSource]="reviewsGivenArr" class="mat-elevation-z8" *ngIf="showReviewGiven">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> <b>No.</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.no }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> <b>Username</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> <b>Score</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.score }}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> <b>Comment</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container>

    <ng-container matColumnDef="edits">
      <th mat-header-cell *matHeaderCellDef> <b>Edits</b> </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button color="primary" [routerLink]="['update']"
          [queryParams]="{username: element.username, score: element.score, comment: element.comment}">Update</a>
        <button mat-button color="warn" (click)="onDelete(element.username)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="reviewGivenColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: reviewGivenColumns;"></tr>
  </table>


  <mat-card class="main" *ngIf="!showReviewGiven">
    You have not reviewed yet !
  </mat-card>
</div>

<mat-card *ngIf="showDelete && !isLoading" class="delete-card">
  <mat-card-title>
    Do you want to delete {{ uName }}'s review ?
  </mat-card-title>
  <mat-card-content class="sub-content">
    <button mat-raised-button color="warn" class="btn" (click)="onClickDelete()">Yes</button>
    <button mat-raised-button color="primary" class="btn" (click)="onClickHide()">No</button>
  </mat-card-content>
</mat-card>

<div class="btns" *ngIf="!showDelete">
  <a mat-raised-button color="primary" routerLink="review-list" *ngIf="!isLoading">Review
    more</a>

  <button mat-raised-button color="accent" (click)="onClickBack()">Back</button>
</div>
