<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading">
  <h3>You can review to !</h3>

  <table mat-table [dataSource]="revieweeList" class="mat-elevation-z8" *ngIf="showTable">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> <b>No.</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.no }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> <b>Username</b> </th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="btn">
      <th mat-header-cell *matHeaderCellDef> <b>Action</b> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="onReview(element.username)">Review</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-card class="main" *ngIf="!isLoading && !showTable">
    There is no one to review !
  </mat-card>
</div>

<div class="btns">
  <button mat-raised-button color="accent" (click)="onClickBack()">Back</button>
</div>
