table {
  width: 60%;
  margin: auto;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns button {
  margin-right: 1rem;
}

h3 {
  text-align: center;
  color: rgba(0, 0, 0, .54);
}

mat-spinner {
  margin: auto;
}

.main {
  width: 49.5%;
  text-align: center;
  margin: auto;
  padding: 1.5rem 5rem;
}

div {
  margin: 3rem 0;
}
