<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-title *ngIf="!isLoading">
    Create new department
  </mat-card-title>

  <mat-card-content *ngIf="!isLoading">
    <form class="example-form" (submit)="onCreate()" ngForm [formGroup]="departmentForm">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Department name</mat-label>
        <input matInput type="text" formControlName="departmentname" required>
        <mat-error *ngIf="departmentForm.controls.departmentname.invalid">Please enter a valid department name.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" class="update-btn" type="submit">Create</button>
      <button mat-raised-button color="primary" type="button" (click)="onClickHome()">Home</button>
    </form>
  </mat-card-content>

</mat-card>
