<mat-spinner *ngIf="isLoading"></mat-spinner>
<h3 *ngIf="!showDelete && !isLoading && showEmp">Employee List</h3>
<table mat-table [dataSource]="employeeList" class="mat-elevation-z8" *ngIf="!showDelete && !isLoading && showEmp">

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> <b>No.</b> </th>
    <td mat-cell *matCellDef="let element">{{ element.no }}</td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> <b>Username</b> </th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> <b>Name</b> </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef> <b>Department</b> </th>
    <td mat-cell *matCellDef="let element">{{ element.department }}</td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> <b>Age</b> </th>
    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
  </ng-container>

  <ng-container matColumnDef="edits">
    <th mat-header-cell *matHeaderCellDef> <b>Edits</b> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary"
        (click)="onUpdate(element.username, element.name, element.department, element.age)">Update</button>
      <button mat-button color="warn" (click)="onDelete(element.username)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" class="back-btn" (click)="onClickBack()"
  *ngIf="!showDelete && !isLoading && showEmp">Back</button>

<mat-card *ngIf="showDelete && !isLoading" class="delete-card">
  <mat-card-title class="sub-title">
    Do you want to delete {{ username }} ?
  </mat-card-title>
  <mat-card-content class="sub-content">
    <button mat-raised-button color="warn" class="btn" (click)="onClickDelete()">Yes</button>
    <button mat-raised-button color="primary" class="btn" (click)="onClickHide()">No</button>
  </mat-card-content>
</mat-card>

<mat-card class="main" *ngIf="!showDelete && !isLoading && !showEmp">
  <mat-card-title class="sub-title">
    You have not added any employee !
  </mat-card-title>

  <mat-card-content class="main-content">
    <div class="btn">
      <button mat-raised-button color="accent" (click)="onClickBack()">Back</button>
    </div>
  </mat-card-content>
</mat-card>
