<mat-card class="main">

  <mat-card-title class="header">
    Welcome {{ fullname | titlecase}}
  </mat-card-title>

  <mat-card-content class="main-content">
    <mat-card class="sub-card">
      <mat-card-content class="sub-content">
        <a mat-raised-button class="clr" routerLink="review">Review</a>
        <a mat-raised-button class="clr" routerLink="details">Details</a>
        <button mat-raised-button color="accent" (click)="onClickLogout()">Logout</button>
      </mat-card-content>
    </mat-card>
  </mat-card-content>

</mat-card>
