.main {
  width: fit-content;
  margin: 3rem auto;
  padding-bottom: 2rem;
  background-color: #f9f3eb;
}

.main-content {
  display: flex;
  margin-top: 3rem;
}

.sub-card {
  width: 15rem;
}

.sub-content {
  margin-top: 1.3rem;
}

.sub-content a,
.sub-content button {
  width: 100%;
  margin: 0.4rem 0;
}

mat-card-title {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.sub-content .clr {
  background-color: #e4f5fc;
}
