
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form class="example-form" (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <!-- Username -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" ngModel name="username" #usernameInput="ngModel" required>
      <mat-error *ngIf="usernameInput.invalid">Please enter a valid username.</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" ngModel #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>

<router-outlet></router-outlet>
