mat-form-field {
  width: 100%;
}

button {
  margin: 1rem 0;
}

mat-spinner {
  margin: auto;
}

mat-card {
  width: 30%;
  margin: 3rem auto;
  padding-top: 3rem;
}

mat-card-title {
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, .54);
}

button {
  margin-right: 1rem;
}

mat-radio-button {
  margin-bottom: 1.5rem;
}
