<mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-title *ngIf="!isLoading">
    Register new user
  </mat-card-title>

  <mat-card-content *ngIf="!isLoading">
    <form [formGroup]="userRegisterForm" class="example-form" (submit)="onCreate()">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput value="" formControlName="firstname" type="text" required>
        <mat-error *ngIf="userRegisterForm.controls.firstname.invalid">Please enter a valid Firstname.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput value="" formControlName="lastname" type="text" required>
        <mat-error *ngIf="userRegisterForm.controls.lastname.invalid">Please enter a valid Lastname.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput value="" formControlName="age" type="number" required>
        <mat-error *ngIf="userRegisterForm.controls.age.invalid">Please enter a valid Age.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput value="" formControlName="username" type="text" required>
        <mat-error *ngIf="userRegisterForm.controls.username.invalid">Please enter a valid Username.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" value="" formControlName="password" required>
        <mat-error *ngIf="userRegisterForm.controls.password.invalid">Please enter a valid Password.
        </mat-error>
      </mat-form-field>

      <mat-radio-group aria-label="Select an option" formControlName="role">
        <mat-radio-button value="admin" (click)="onCLickAdm()">Admin</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button value="employee" (click)="onCLickEmp()">Employee</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="fill" *ngIf="showDept">
        <mat-label>Select department</mat-label>
        <mat-select formControlName="departmentname">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let item of departmentList" [value]="item.department_name">
            {{item.department_name}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>

      <button type="submit" mat-raised-button color="primary">Register</button>
      <button type="button" mat-raised-button color="accent" (click)="onClickHome()">Home</button>
    </form>
  </mat-card-content>
</mat-card>
