<mat-toolbar color="primary">
  <span>
    <a routerLink="">Peer review system</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="onClickLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
