<!-- <div class="container mt-5 col-4">
  <mat-card>
    <form [formGroup]="employeeUpdateForm" class="example-form">
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Firstname</mat-label>
          <input matInput value="" formControlName="firstname">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Lastname</mat-label>
          <input matInput value="" formControlName="lastname">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput value="" formControlName="age">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Department</mat-label>
          <mat-select formControlName="departmentname">
            <mat-option value="" disabled selected>{{empData.department}}</mat-option>
            <mat-option *ngFor="let item of departmentList" [value]="item.department_name">
              {{item.department_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Ex. abc@123" value="" formControlName="username" readonly>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Ex. abc@123" value="" formControlName="password">
        </mat-form-field>
      </div>

      <button type="submit" mat-raised-button color="primary" class="my-4" (click)="onClickUpdate()">Update</button>
      <button type="submit" mat-raised-button color="accent" class="mx-3" (click)="onClickHome()">Home</button>
    </form>
  </mat-card>
</div> -->


<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-title *ngIf="!isLoading">
    Update employee
  </mat-card-title>

  <mat-card-content *ngIf="!isLoading">
    <form class="example-form" (submit)="onUpdate()" ngForm [formGroup]="employeeUpdateForm">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput type="text" formControlName="firstname">
        <mat-error *ngIf="employeeUpdateForm.controls.firstname.invalid">Please enter a valid firstname.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput type="text" formControlName="lastname">
        <mat-error *ngIf="employeeUpdateForm.controls.lastname.invalid">Please enter a valid lastname.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="text" formControlName="age">
        <mat-error *ngIf="employeeUpdateForm.controls.age.invalid">Please enter a valid age.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <mat-select formControlName="departmentname">
          <mat-option value="" disabled selected>{{empData.department}}</mat-option>
          <mat-option *ngFor="let item of departmentList" [value]="item.department_name">
            {{item.department_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="text" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Update</button>
      <button mat-raised-button color="primary" type="button" (click)="onClickBack()">Back</button>
      <button mat-raised-button color="primary" type="button" (click)="onClickHome()">Home</button>
    </form>
  </mat-card-content>

</mat-card>
