<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card *ngIf="!isLoading">
  <mat-card-title >
    Give a review !
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="reviewForm" class="example-form" (submit)="onCreate()">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput value="" formControlName="username" type="text" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Score</mat-label>
        <mat-select formControlName="score">
          <mat-option *ngFor="let score of scoreValArr" [value]="score">
            {{score}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="reviewForm.controls.score.invalid">Score is required!</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea matInput rows="4" formControlName="comment"></textarea>
        <mat-error *ngIf="reviewForm.controls.comment.invalid">Comment is required!</mat-error>
      </mat-form-field>
      <br>

      <button type="submit" mat-raised-button color="accent">Review</button>
      <button type="button" mat-raised-button color="primary" (click)="onReset()">Reset</button>
      <button type="button" mat-raised-button color="primary" (click)="onClickBack()">Back</button>
    </form>
  </mat-card-content>
</mat-card>

