<mat-spinner *ngIf="isLoading"></mat-spinner>

<h3 *ngIf="!showDelete && !isLoading && showDept">Department List</h3>
<table mat-table [dataSource]="departmentList" class="mat-elevation-z8" *ngIf="!showDelete && !isLoading && showDept">

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> <b>No.</b> </th>
    <td mat-cell *matCellDef="let element">{{ element.no }}</td>
  </ng-container>

  <ng-container matColumnDef="Department">
    <th mat-header-cell *matHeaderCellDef> <b>Department</b> </th>
    <td mat-cell *matCellDef="let element">{{ element.department_name }}</td>
  </ng-container>

  <ng-container matColumnDef="edits">
    <th mat-header-cell *matHeaderCellDef> <b>Edits</b> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="onUpdate(element.department_name)">Update</button>
      <button mat-button color="warn" (click)="onDelete(element.department_name)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" class="back-btn" (click)="onClickBack()" *ngIf="!showDelete && !isLoading && showDept">Back</button>

<mat-card *ngIf="showDelete && !isLoading" class="delete-card">
  <mat-card-title>
    Do you want to delete {{ deptName }} ?
  </mat-card-title>
  <mat-card-content class="sub-content">
    <button mat-raised-button color="warn" class="btn" (click)="onClickDelete()">Yes</button>
    <button mat-raised-button color="primary" class="btn" (click)="onClickHide()">No</button>
  </mat-card-content>
</mat-card>

<mat-card class="main" *ngIf="!showDelete && !isLoading && !showDept"  >
  <mat-card-title class="sub-title">
    You have not created any department yet !
  </mat-card-title>

  <mat-card-content class="main-content">
    <div class="btn">
      <button mat-raised-button color="accent" (click)="onClickBack()" >Back</button>
    </div>
  </mat-card-content>
</mat-card>
