table {
  width:60%;
  margin: 3rem auto;
}

.back-btn {
  display: block;
  margin: auto;
}

h3 {
  text-align: center;
  color: rgba(0, 0, 0, .54);
  text-decoration: underline;
}

.delete-card {
  width: fit-content;
  margin: 3rem auto;
  background-color: #f6dde1;
  padding: 2rem;
}

.delete-card .sub-content {
  display: flex;
}

.delete-card .sub-content .btn {
  margin-top: 1rem;
  margin-right: 1rem;
}

mat-spinner {
  margin: auto;
}

.main {
  width: fit-content;
  margin: 3rem auto;
  padding: 2rem;
}

mat-card-title {
  text-align: center;
  color: rgba(0, 0, 0, .64);
}

/* .main-content div {
  margin-top: 0.7rem;
  margin-left: 1rem;
  width: 15rem;
} */

.main-content div.btn {
  margin-top: 2rem;
}
