<mat-card class="main">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-title *ngIf="!isLoading">
    Details
  </mat-card-title>

  <img mat-card-lg-image src="../../../assets/images/user.png" *ngIf="!isLoading">

  <mat-card-content class="main-content" *ngIf="!isLoading">
    <div>
      <b>Username :</b> {{ username }}
    </div>
    <div>
      <b>Name :</b> {{ fullname | titlecase}}
    </div>
    <div>
      <b>Age :</b> {{ age }}
    </div>
    <div>
      <b>Role :</b> {{ role | titlecase}}
    </div>
    <div class="btn">
      <button mat-raised-button color="primary" (click)="onClickHome()">Back</button>
    </div>
  </mat-card-content>

</mat-card>
