<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-title>
    Update details
  </mat-card-title>

  <mat-card-content *ngIf="!isLoading">
    <form class="example-form" ngForm [formGroup]="adminUpdateForm" >
      <!-- Username -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
        <mat-error *ngIf="adminUpdateForm.controls.username.invalid">Please enter a valid username.</mat-error>
      </mat-form-field>

      <!-- firstname -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput type="text" formControlName="firstname">
        <mat-error *ngIf="adminUpdateForm.controls.firstname.invalid">Please enter a valid firstname.</mat-error>
      </mat-form-field>

      <!-- lastname -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput type="text" formControlName="lastname">
        <mat-error *ngIf="adminUpdateForm.controls.lastname.invalid">Please enter a valid lastname.</mat-error>
      </mat-form-field>

      <!-- age -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="text" formControlName="age">
        <mat-error *ngIf="adminUpdateForm.controls.age.invalid">Please enter a valid age.</mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="accent" class="update-btn" type="button" (click)="onClickUpdate()">Update</button>
      <button mat-raised-button color="primary" type="button" (click)="onClickHome()">Home</button>
    </form>
  </mat-card-content>

</mat-card>
